.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("/assets/images/bg-pattern-intro-desktop.svg");
    background-position: center;
    background-size: 150%;
    padding: 4rem 10rem;
    border-bottom-left-radius: 6rem;
    background-repeat: no-repeat;
    background-color: $redgradient;

    & .navigation {
        display: flex;
        align-items: center;
    }

    & .navigation .site-nav {
        flex: 1;
        margin-left: 3.5rem;
        display: flex;
        align-items: center;
    }

    & .navigation .site-nav li {
        margin-right: 1.5rem;
        list-style: none;
        position: relative;
    }

    & .navigation .site-nav li a {
        text-decoration: none;
        color: $white;
        cursor: pointer;
        transition: 1s;
        font-family: "Ubuntu", sans-serif;
    }

    & .navigation .site-nav li a:hover {
        text-decoration: underline;
    }

    & .navigation .site-nav li img {
        margin-left: 0.5rem;
        transition: 0.5s;
    }

    & .navigation .site-nav li:hover img {
        transform: rotate(-180deg);
    }

    & .navigation .site-nav li .dropdown-menu {
        display: none;
        transition: 0.5s;
        z-index: 10;
    }

    & .navigation .site-nav li:hover .dropdown-menu {
        display: block;
    }

    & .navigation .site-nav li .dropdown-menu ul {
        position: absolute;
        margin-top: 0.2rem;
        margin-left: -2rem;
        background: $white;
        padding: 1.5rem;
        text-align: left;
        border-radius: 5px;
        box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
    }

    & .navigation .site-nav li .dropdown-menu ul li {
        display: block;
        margin-bottom: 1rem;
    }

    & .navigation .site-nav li .dropdown-menu ul li:last-child {
        margin-bottom: 0;
    }

    & .navigation .site-nav li .dropdown-menu ul li a {
        color: $grayishblue;
        transition: 0.5s;
        cursor: pointer;
        text-decoration: none;
    }

    & .navigation .site-nav li .dropdown-menu ul li a:hover {
        color: hsl(0, 0%, 5%);
    }

    & .navigation .register {
        display: flex;
        align-items: center;
    }

    & .navigation .register li {
        margin-left: 2rem;
        list-style: none;
    }

    & .navigation .register li a {
        text-decoration: none;
        color: $white;
        cursor: pointer;
        font-weight: 700;
        font-size: 0.9rem;
        font-family: "Ubuntu", sans-serif;
    }

    & .navigation .register li .signup {
        padding: 0.8rem 2.5rem;
        background: $white;
        color: $lightred;
        border: none;
        border-radius: 2rem;
        transition: 0.5s;
    }

    & .navigation .register li .signup:hover {
        background: $darklightred;
        color: $white;
    }

    & .navigation #mobilemenu {
        display: none;
    }

    & &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }

    & &-content h1 {
        font-size: 3.5rem;
        color: $white;
        margin-bottom: 1rem;
        font-family: "Overpass", sans-serif;
    }

    & &-content p {
        font-size: 1.2rem;
        color: $white;
        margin-bottom: 3rem;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
    }

    & &-content &-content-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & &-content &-content-links li {
        list-style: none;
        margin: 0 0.5rem;
    }

    & &-content &-content-links li a {
        text-decoration: none;
        padding: 0.7rem 1.5rem;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: 700;
        font-family: "Ubuntu", sans-serif;
    }

    & &-content &-content-links li .start {
        background: $white;
        color: $redgradient;
        border-radius: 2rem;
        transition: 0.5s;
    }

    & &-content &-content-links li .start:hover {
        background: $darklightred;
        color: $white;
    }

    & &-content &-content-links li .learn {
        background: transparent;
        color: $white;
        border-radius: 2rem;
        transition: 0.5s;
        border: 1px solid $white;
    }

    & &-content &-content-links li .learn:hover {
        background: $white;
        color: $darklightred;
    }
}
.mobilenav {
    display: none;
}
