// Colors
$lightred: hsl(356, 100%, 66%);
$darklightred: hsl(355, 100%, 74%);
$darkblue: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$grayishblue: hsl(240, 2%, 79%);
$darkgrayishblue: hsl(207, 13%, 34%);
$darkblackblue: hsl(240, 10%, 16%);
$lightredgradient: hsl(13, 100%, 72%);
$redgradient: hsl(353, 100%, 62%);
$darkgraybluegradient: hsl(237, 17%, 21%);
$darkdesaturatedblue: hsl(237, 23%, 32%);
